:root {
    
    --morado: #8C30F5;
    --lila: #F1E4FF;
    --gris_claro: #F1E4FF;
    --blanco: #FFFFFF;
    --celeste: #E7F0F4;

}

*{
    margin: 0;
    padding: 0;
}

/* INICIO barra de navegacion y login */

header{
    display: grid;
    grid-template-columns: 40% 45% auto;
    align-items: center;
    position: fixed;
    height: 8vh;
    background-color: var(--blanco);
}
header p{
    width: 25%;
}
nav {
    display: flex;
}

a{
    width: auto;
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    border-radius: 1rem;
    border: 1px solid black;
}
.login {
    display: flex;
}
/* FIN barra de navegacion y login */



/* INICIO first_part */
.first_part{
    height: 90vh;
    display: grid;
    grid-template-columns: 50% auto;
    padding: 6%  15% 0 15%;
    align-items: center;
    background-color: var(--celeste);
}
.theme{
    display: grid;
    grid-template-rows: 30% auto;
}
.theme h1{
    font-size: 3.8rem;
}
.theme p{
    font-size: 2rem;
}
/* FIN first_part */

/* INICIO second_part */

.second_part{
    height: 91vh;
    display: grid;
    grid-template-columns: 50% auto;
    padding: 0  15% 0 15%;
    align-items: center;
    border: 1px solid black;
}
.second_part img{
    width: 100%;
}

.cont{
    padding-left: 2rem;
    display: grid;
    grid-template-rows: 40% 30%  30%;
    align-items: center;
}

.theme{
    display: grid;
    grid-template-rows: 30% auto;
}
.second_part .theme h2{
    font-size: 2rem;
}
.second_part .theme p{
    font-size: 1.5rem;
}

/* FIN second_part */